.gameDetails {
	min-width: 400px;
	width: 33%;
}

.gameDetails section {
	padding-top: .1in;
	padding-bottom: .1in;
	border-bottom: 1px dashed #ddd;
}

.gameDetails section:last-of-type {
	border-bottom: none;
}

.gameDetails section div {
	display: inline-block;
	vertical-align: top;
}

.gameDetails section div:first-child {
	width: 30%;
	padding-right: 10%;
}

.gameDetails section div:last-child {
	width: 60%;
}
