.leaderboard {
}

.leaderboard-title {
  margin-top: 0;
}

.leaderboard-playerWithPlaces {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.leaderboard-playerWithPlaces-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leaderboard-playerWithPlaces-index {
  font-size: x-large;
  margin-right: 5px;
}
