.leaderboard {
  max-width: 33%;
  min-width: 200px;
}

.leaderboard-title {
}

.leaderboard-playerWithPlaces {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.leaderboard-playerWithPlaces-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  line-height: 25px;
  font-size: medium;
}

.leaderboard-playerWithPlaces-index {
  font-size: x-large;
  margin-right: 5px;
}
